<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Boris Godunov</title>
    <link href="../static/booklist.css" rel="stylesheet" th:href="@{booklist.css}"/>
</head>
<body>
<table class="books">
    <thead>
    <tr>
        <td>ID</td>
        <td>Author</td>
        <td>Title</td>
        <td>Genre</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${book}">
        <td th:text="|*{getId()}.|">12.</td>
        <td><span th:text="*{getAuthor().getSurname()}">Pushkin</span> <span
                th:text="*{getAuthor().getInitials()}">A.S.</span></td>
        <td th:text="*{getTitle()}">Boris Godunov</td>
        <td th:text="*{getGenre().getGenre()}">Drama</td>
        <td>
            <ul th:each="comment: *{getComments()}">
                <li th:object="${comment}">
                    <span th:text="|[*{getAuthorNick()}] on ${#dates.format(comment.getDate(), 'dd MMMM yyyy')}: *{getText()}|">[NickName] on 20-Mar-2021: Comment 1</span>
                    <span> <a href="edit-comment.html" th:href="@{/comment/edit(id=*{getId()})}" th:text="${'Edit comment'}">EDIT COMMENT</a> </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>