<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style>
        form {
            display: grid;
            grid-template-columns: 40px 130px 150px;
            grid-gap: 10px;
            font-family: sans-serif;

        }

        label {
            grid-column: 1 / 2;
        }

        input {
            grid-column: 2 / 3;
        }

        fieldset {
            display: grid;
            grid-gap: 5px;
            grid-column: 2/4;
            margin: 0;
        }

    </style>
</head>
<body>
<form action="#" class="book-form" method="post" th:action="@{/book/edit}" th:method="POST" th:object="${book}">
    <input type="hidden" th:field="*{id}">

    <label for="title">Title</label>
    <input id="title" th:field="*{title}" value="Title of book">
    <!--TODO: implement select for author and genre-->
    <fieldset th:object="${book.author}">
        <legend>Author</legend>
        <input type="hidden" th:field="*{id}">
        <label for="surname">Surname</label>
        <input id="surname" th:field="*{surname}" value="Author_surname">

        <label for="name">Name</label>
        <input id="name" th:field="*{name}" value="Author_name">

        <label for="initials">Initials</label>
        <input id="initials" th:field="*{initials}" value="A.N.">
    </fieldset>

    <fieldset th:object="${book.genre}">
        <input type="hidden" th:field="*{id}">
        <legend>Genre</legend>
        <label for="genre">Genre</label>
        <input id="genre" th:field="*{genre}" value="Genre name">
    </fieldset>

    <input type="submit" value="Update">
</form>
</body>
</html>