<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit genre</title>
    <style>
        form {
            display: grid;
            grid-template-columns: 40px 150px 200px;
            grid-gap: 10px;
            font-family: sans-serif;

        }

        label {
            grid-column: 1 / 2;
        }

        input {
            grid-column: 2 / 3;
        }

        fieldset {
            display: grid;
            grid-gap: 5px;
            grid-column: 2 / 4;
            margin: 0;
        }


    </style>
</head>
<body>
<form action="#" class="genre-form" method="get" th:action="@{/genre/create}" th:method="POST">
    <fieldset>
        <legend>Genre</legend>
        <label for="genre">Genre name</label>
        <input type="text" name="genre" id="genre">
    </fieldset>

    <input type="submit" value="Create">
</form>
</body>
</html>