<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <style>
        body{
            padding: 15px;
            font-family: sans-serif;
        }
        .books{
            border: 1px solid gray;
            border-collapse: collapse;
            width: 100%;
        }
        .books tr td{
            border: 1px solid gray;
            padding: 5px;
        }
        .books thead {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>

<table class="books">
    <thead>
    <tr>
        <td>ID</td>
        <td>Author</td>
        <td>Title</td>
        <td>Genre</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}" th:object="${book}">
        <td th:text="*{getId()}">12.</td>
        <td th:text="|*{getAuthor().getSurname()} *{getAuthor().getInitials()}|">Pushkin A.S.</td>
        <td th:text="*{getTitle()}">Boris Godunov</td>
        <td th:text="*{getGenre().getGenre()}">Drama</td>
        <td>
        <ul th:each="comment: *{getComments()}">
            <li th:text="${comment.getText()}">
                Comment 1
            </li>
        </ul>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>