<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <style>
        body{
            padding: 15px;
            font-family: sans-serif;
        }
        .books{
            border: 1px solid gray;
            border-collapse: collapse;
            width: 100%;
        }
        .books tr td{
            border: 1px solid gray;
            padding: 5px;
        }
        .books thead {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>

<table class="books">
    <thead>
    <tr>
        <td>ID</td>
        <td>Author</td>
        <td>Title</td>
        <td>Genre</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>12.</td>
        <td>Pushkin A.S.</td>
        <td>Boris Godunov</td>
        <td>Drama</td>
        <td>Comments comments comments comments comments... </td>
    </tr>
    </tbody>
</table>

</body>
</html>