<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <link href="../static/booklist.css" rel="stylesheet" th:href="@{/booklist.css}"/>
</head>
<body>

<table class="books">
    <thead>
    <tr>
        <td>ID</td>
        <td>Author</td>
        <td>Title</td>
        <td>Genre</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}" th:object="${book}">
        <td th:text="|*{getId()}.|">12.</td>
        <td>
            <span th:text="*{getAuthor().getSurname()}">Pushkin</span>
            <span th:text="*{getAuthor().getInitials()}">A.S.</span>
        </td>
        <td>
            <a href="book.html" th:href="@{/book/show(id=${book.id})}" th:text="*{getTitle()}">Boris Godunov</a>
        </td>
        <td th:text="*{getGenre().getGenre()}">Drama</td>
        <td>
            <ul th:each="comment: *{getComments()}">
                <li>
                    <span th:text="|[${comment.getAuthorNick()}]:|">[NickName]:</span>
                    <span th:text="${comment.getText()}">Comment 1</span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>