<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <link  rel="stylesheet" href="booklist.css" type="text/css" />
</head>
<body>

<div id="create-book"><a href="./create/book-create.html">Create new book</a></div>
<br>
<table class="books">
    <thead>
    <tr>
        <td>ID</td>
        <td>Author</td>
        <td>Title</td>
        <td>Genre</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>

<script type="module" src="script/book-list.js" ></script>
</body>
</html>
