<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create comment</title>
    <style>
        form {
            display: grid;
            grid-template-columns: 110px 150px 350px;
            grid-gap: 10px;
            font-family: sans-serif;

        }

        label {
            grid-column: 1 / 2;
        }

        input {
            grid-column: 2 / 3;
        }

        textarea {
            grid-column: 2 / 4;
        }

    </style>
</head>
<body>
<form class="comment-form" action="#" method="post" th:action="@{/comment/create}" th:method="POST">
    <input type="hidden" id="bookId" name="bookId" th:value="${commentedBookId}">

    <label for="text">Comment text</label>
    <textarea rows="15" id="text" name="text"> </textarea>

    <label for="authorNick">Nickname</label>
    <input value="NickName" id="authorNick" name="authorNick">

    <label for="date">Date</label>
    <input type="date" id="date" value="2021-03-20" name="date" th:value="${#dates.createToday()}">
    <input type="submit" value="Save">
</form>
</body>
</html>