<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit author</title>
    <style>
        .container {
            display: grid;
            grid-template-columns: 40px 150px 200px;
            grid-gap: 10px;
            font-family: sans-serif;

        }

        label {
            grid-column: 1 / 2;
        }

        input {
            grid-column: 2 / 3;
        }

        fieldset {
            display: grid;
            grid-gap: 5px;
            grid-column: 2 / 4;
            margin: 0;
        }
    </style>
    <script type="module" src="../../static/author-edit.js" th:src="@{/author-edit.js}"></script>
</head>
<body>

<div class="container">
    <fieldset id="fieldset">
        <input type="hidden" name="bookId" th:value="${bookId}">
        <legend>Author</legend>
        <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="initials">Initials</label>
        <input type="text" name="initials" id="initials">
        <button id="saveButton" >Save</button>
        <a href="book-edit.html" th:href="@{/book-edit(id=${bookId})}"><button type="button">Go back</button></a>
    </fieldset>
    <div id="info"></div>
</div>
</body>
</html>

