<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="quizDao" class="ru.otus.glavs.dao.QuizDaoCsvImpl">
        <constructor-arg name="parser" ref="parser"/>
    </bean>
    <bean name="quizService" class="ru.otus.glavs.service.QuizService">
        <constructor-arg name="dao" ref="quizDao"/>
    </bean>
    <bean name="loader" class="ru.otus.glavs.service.loader.TextFileLoader">
        <constructor-arg name="csvFileName" value="quiz.csv"/>
    </bean>
    <bean name="parser" class="ru.otus.glavs.service.parser.CsvFileParser">
        <constructor-arg name="loader" ref="loader"/>
    </bean>
    <bean name="consoleHelper" class="ru.otus.glavs.service.helper.ConsoleHelper"/>

</beans>