<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <link href="../static/booklist.css" rel="stylesheet" th:href="@{/booklist.css}"/>
</head>
<body>

<div id="create-book"><a href="#">Create new book</a></div>
<br>
<table class="books">
    <thead>
    <tr>
        <td>ID</td>
        <td>Author</td>
        <td>Title</td>
        <td>Genre</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>

<script src="../static/book-list.js" th:src="@{/book-list.js}"></script>
</body>
</html>
