<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">Boris Godunov</title>
    <link href="../static/booklist.css" rel="stylesheet" th:href="@{/booklist.css}"/>
</head>
<body>
<input type="hidden" name="bookId" id="bookId" th:value="${bookId}">
<table class="books">
    <thead>
    <tr>
        <td>ID</td>
        <td>Authors</td>
        <td>Title</td>
        <td>Genres</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td id="id">12.</td>
        <td >
            <ul id="authors">Pushkin A.S.
            </ul>
        </td>
        <td>
            <span id="title">Boris Godunov</span>
            <br>
            <span><a href="./edit/book-edit.html" th:href="@{/book-edit(id=${bookId})}">EDIT BOOK</a></span>|
            <span><a href="list.html" th:href="@{#}" id="delete-book">DELETE BOOK</a></span> |
            <span><a href="#" >ADD COMMENT</a></span>
        </td>
        <td>
            <ul id="genres">Drama
            </ul>
        </td>
        <td>
            <ul id="comments">
                <li>
                    <span >[NickName] on 20-Mar-2021: Comment 1</span>
                    <br>
                    <span> <a href="#" >EDIT COMMENT</a> </span> |
                    <span> <a href="#" >DELETE COMMENT</a></span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<a href="./list.html" th:href="@{/}">Go to main page</a>
<script type="module" src="/script/book-show.js" th:src="@{/script/book-show.js}"></script>
</body>
</html>